<div class="debug">
    <h5>Title</h5>
    <table class="debug__content">
        <tr>
            <td>Text</td>
            <td>{{ kint(p_title_text) }}</td>
        </tr>
        <tr>
            <td>Display</td>
            <td>{{ kint(p_title_display) }}</td>
        </tr>
        <tr>
            <td>Align</td>
            <td>{{ kint(p_title_align) }}</td>
        </tr>
        <tr>
            <td>Link</td>
            <td>{{ kint(p_title_link) }}</td>
        </tr>
    </table>
</div>
<div class="debug">
    <h5>Color</h5>
    <table class="debug__content">
        <tr>
            <td>Title</td>
            <td>{{ kint(p_color_title) }}</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>{{ kint(p_color_text) }}</td>
        </tr>
    </table>
</div>
<div class="debug">
    <h5>Backgrounds</h5>
    <table class="debug__content">
        <tr>
            <td>Type</td>
            <td>{{ kint(p_bg_type) }}</td>
        </tr>
    </table>
    <span>Solid</span>
    <table class="debug__content">
        <tr>
            <td>Color</td>
            <td>{{ kint(p_bg_solid_color) }}</td>
        </tr>
        <tr>
            <td>Opacity</td>
            <td>{{ kint(p_bg_solid_opacity) }}</td>
        </tr>
        <tr>
            <td>RGBA</td>
            <td>{{ kint(p_bg_solid_rgba) }}</td>
        </tr>
    </table>
    <span>Image</span>
    <table class="debug__content">
        <tr>
            <td>URL</td>
            <td>{{ kint(p_bg_img_url) }}</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{ kint(p_bg_img_size) }}</td>
        </tr>
        <tr>
            <td>Background</td>
            <td>{{ kint(p_bg_img_bg) }}</td>
        </tr>
        <tr>
            <td>Overlay</td>
            <td>{{ kint(p_bg_img_color) }}</td>
        </tr>
        <tr>
            <td>Opacity</td>
            <td>{{ kint(p_bg_img_opacity) }}</td>
        </tr>
        <tr>
            <td>Overlay RGBA</td>
            <td>{{ kint(p_bg_img_rgba) }}</td>
        </tr>
    </table>
    <span>Video</span>
    <table class="debug__content">
        <tr>
            <td>URL</td>
            <td>{{ kint(p_bg_video_url) }}</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{ kint(p_bg_video_size) }}</td>
        </tr>
        <tr>
            <td>Background</td>
            <td>{{ kint(p_bg_video_bg) }}</td>
        </tr>
        <tr>
            <td>Overlay</td>
            <td>{{ kint(p_bg_video_color) }}</td>
        </tr>
        <tr>
            <td>Opacity</td>
            <td>{{ kint(p_bg_video_opacity) }}</td>
        </tr>
        <tr>
            <td>Overlay RGBA</td>
            <td>{{ kint(p_bg_video_rgba) }}</td>
        </tr>
    </table>
</div>
<div class="debug">
    <h5>Size</h5>
    <table class="debug__content">
        <tr>
            <td>Height</td>
            <td>{{ kint(p_size_height) }}</td>
        </tr>
        <tr>
            <td>Padding Top</td>
            <td>{{ kint(p_size_p_top) }}</td>
        </tr>
        <tr>
            <td>Padding Bottom</td>
            <td>{{ kint(p_size_p_bottom) }}</td>
        </tr>
        <tr>
            <td>Padding Left</td>
            <td>{{ kint(p_size_p_left) }}</td>
        </tr>
        <tr>
            <td>Padding Right</td>
            <td>{{ kint(p_size_p_right) }}</td>
        </tr>
        <tr>
            <td>Margin Top</td>
            <td>{{ kint(p_size_m_top) }}</td>
        </tr>
        <tr>
            <td>Margin Bottom</td>
            <td>{{ kint(p_size_m_bottom) }}</td>
        </tr>
        <tr>
            <td>Margin Left</td>
            <td>{{ kint(p_size_m_left) }}</td>
        </tr>
        <tr>
            <td>Margin Right</td>
            <td>{{ kint(p_size_m_right) }}</td>
        </tr>
        <tr>
            <td>Constrain</td>
            <td>{{ kint(p_size_constrain) }}</td>
        </tr>
    </table>
</div>
<div class="debug">
    <h5>Layout</h5>
    <table class="debug__content">
        <tr>
            <td>Spacing</td>
            <td>{{ kint(p_layout_spacing) }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ kint(p_layout_type) }}</td>
        </tr>
    </table>
    <span>Grid</span>
    <table class="debug__content">
        <tr>
            <td>Layout</td>
            <td>{{ kint(p_layout_layout) }}</td>
        </tr>
        <tr>
            <td>Direction</td>
            <td>{{ kint(p_layout_grid_dir) }}</td>
        </tr>
    </table>
</div>
<div class="debug">
    <h5>Extras</h5>
    <table class="debug__content">
        <tr>
            <td>Classes</td>
            <td>{{ kint(p_extras_classes) }}</td>
        </tr>
    </table>
</div>